
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Times New Roman', Times, serif;
}
body {
    list-style: none;
    background: url('./img/img39.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}
.clear {
    clear: both;
}
a {
    text-decoration: none;
}
#header {
    width: 100%;
    height: 56px;
    position: fixed;
}
#nav li {
    display: inline-block;
    position: relative;
    
}
#nav > li >a {
    color: #ffffff;
}
#nav li a {
    display: inline-block;
    padding: 0 18px;
    line-height: 56px;
}
#nav > li:hover> a { 
    color: #e84393;
}
/* Body */
.body {
    padding-top: 300px;
    padding-right: 600px;
}
.body h2 {
    color: #ffffff;
    text-align: center;
}
.body h1 {
    color: #ffffff;
    text-align: center;
}
.body p {
    color: #ffffff;
    padding-left: 380px;
    padding-top: 30px;
}
.try {
    margin-left: 380px;
    margin-top: 40px;
    padding: 5px 6px;
    width: 100px;
    text-align: center;
    border: 1px solid #ffffff;
}
.try h3 {
    color: #ffffff;
    font-size: 16px;
}